<a href="https://colab.research.google.com/github/ZahraMoeini/Regression/blob/main/multiple%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Y=H*W+epsilon

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
link =  "https://raw.githubusercontent.com/ZahraMoeini/Regression/main/Data/kc_house_data.csv"

In [4]:
data = pd.read_csv(link, error_bad_lines=False )
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [20]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [11]:
type(data['price'])

pandas.core.series.Series

In [39]:
Y=data['price']
X=data.drop(columns=['price','id','date'])
H=np.matrix(data[X.columns])

In [40]:
H=H[:1000,:]

In [41]:
type(H)

numpy.matrix

# feature extraction

In [7]:
H

matrix([['20141013T000000', 3, 1.0, ..., -122.257, 1340, 5650],
        ['20141209T000000', 3, 2.25, ..., -122.319, 1690, 7639],
        ['20150225T000000', 2, 1.0, ..., -122.23299999999999, 2720, 8062],
        ...,
        ['20140623T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         2007],
        ['20150116T000000', 3, 2.5, ..., -122.069, 1410, 1287],
        ['20141015T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         1357]], dtype=object)

# Close form
# $w=(H^T H)^{-1}H^TY$

In [42]:
Yt1=np.array(Y)
Yt1.shape

(21613,)

In [44]:
Yt1=Yt1.reshape((Yt1.shape[0],1))
Yt1.shape

(21613, 1)

In [48]:
type(Yt1)

numpy.ndarray

In [45]:
Yt2=np.matrix(Y)
Yt2.shape

(1, 21613)

In [47]:
Yt2=Yt2.T
Yt2.shape

(21613, 1)

In [49]:
type(Yt2)

numpy.matrix

In [26]:
HT=H.T

In [27]:
HT.shape

(18, 1000)

In [50]:
t1=HT*H
t2=np.linalg.pinv(t1)
t3=t2*HT
w = t3*Yt1[:1000,:]
w

matrix([[-1.60004230e+04],
        [ 2.55361848e+04],
        [ 8.23777752e+01],
        [ 3.72472570e-01],
        [ 1.84299706e+04],
        [ 7.13429842e+05],
        [ 6.40627360e+04],
        [ 1.73661752e+04],
        [ 7.90020445e+04],
        [ 4.32394250e+01],
        [ 3.91711820e+01],
        [-2.45839568e+03],
        [ 4.37160115e+01],
        [-3.44524432e+02],
        [ 5.83625308e+05],
        [-8.43063127e+04],
        [ 6.51403846e+01],
        [-4.44528926e-01]])

In [52]:
t1=HT*H
t2=np.linalg.pinv(t1)
t3=t2*HT
w = t3*Yt2[:1000,:]
w

matrix([[-1.60004230e+04],
        [ 2.55361848e+04],
        [ 8.23777752e+01],
        [ 3.72472570e-01],
        [ 1.84299706e+04],
        [ 7.13429842e+05],
        [ 6.40627360e+04],
        [ 1.73661752e+04],
        [ 7.90020445e+04],
        [ 4.32394250e+01],
        [ 3.91711820e+01],
        [-2.45839568e+03],
        [ 4.37160115e+01],
        [-3.44524432e+02],
        [ 5.83625308e+05],
        [-8.43063127e+04],
        [ 6.51403846e+01],
        [-4.44528926e-01]])

In [13]:
dic1 = {'fruit': ['apple','banana'],'price':[100,200]}
dic1

{'fruit': ['apple', 'banana'], 'price': [100, 200]}

In [14]:
pdfdic = pd.DataFrame(dic1)
pdfdic

    fruit  price
0   apple    100
1  banana    200

In [15]:
m=np.matrix(pdfdic)

In [16]:
m

matrix([['apple', 100],
        ['banana', 200]], dtype=object)