<a href="https://colab.research.google.com/github/ZahraMoeini/Regression/blob/main/multiple%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Y=H*W+epsilon

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
link =  "https://raw.githubusercontent.com/ZahraMoeini/Regression/main/Data/kc_house_data.csv"

In [18]:
data = pd.read_csv(link, error_bad_lines=False )
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [19]:
Y=data['price']
X=data.drop(columns=['price','id'])
H=np.matrix(data[X.columns])

# feature extraction

In [20]:
H

matrix([['20141013T000000', 3, 1.0, ..., -122.257, 1340, 5650],
        ['20141209T000000', 3, 2.25, ..., -122.319, 1690, 7639],
        ['20150225T000000', 2, 1.0, ..., -122.23299999999999, 2720, 8062],
        ...,
        ['20140623T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         2007],
        ['20150116T000000', 3, 2.5, ..., -122.069, 1410, 1287],
        ['20141015T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         1357]], dtype=object)

# Close form
# $w=(H^T H)^{-1}H^TY$

In [21]:
HT=H.T

In [22]:
H

matrix([['20141013T000000', 3, 1.0, ..., -122.257, 1340, 5650],
        ['20141209T000000', 3, 2.25, ..., -122.319, 1690, 7639],
        ['20150225T000000', 2, 1.0, ..., -122.23299999999999, 2720, 8062],
        ...,
        ['20140623T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         2007],
        ['20150116T000000', 3, 2.5, ..., -122.069, 1410, 1287],
        ['20141015T000000', 2, 0.75, ..., -122.29899999999999, 1020,
         1357]], dtype=object)

In [24]:
t1=H.HT
t2=t1.I
t3=t2.HT
W=t3.Y

AttributeError: ignored