<a href="https://colab.research.google.com/github/ZahraMoeini/Regression/blob/main/multiple%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Y=H*W+epsilon

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
link =  "https://raw.githubusercontent.com/ZahraMoeini/Regression/main/Data/kc_house_data.csv"

In [ ]:
data = pd.read_csv(link, error_bad_lines=False )
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
type(data['price'])

pandas.core.series.Series

In [ ]:
Y=data['price']
X=data.drop(columns=['price','id','date'])
H=np.matrix(data[X.columns])
D=H.shape

In [ ]:
type(H)

numpy.matrix

# feature extraction

# Close form
# $w=(H^T H)^{-1}H^TY$

In [ ]:
Yt1=np.array(Y)
Yt1.shape

(21613,)

In [ ]:
Yt1=Yt1.reshape((Yt1.shape[0],1))
Yt1.shape

(21613, 1)

In [ ]:
type(Yt1)

numpy.ndarray

In [ ]:
Yt2=np.matrix(Y)
Yt2.shape

(1, 21613)

In [ ]:
Yt2=Yt2.T
Yt2.shape

(21613, 1)

In [ ]:
type(Yt2)

numpy.matrix

In [ ]:
HT=H.T

In [ ]:
HT.shape

(18, 21613)

In [ ]:
t1=HT*H
t2=np.linalg.pinv(t1)
t3=t2*HT
w = t3*Yt1
w

matrix([[-3.55112024e+04],
        [ 4.10548887e+04],
        [ 1.10266002e+02],
        [ 1.33383123e-01],
        [ 5.26154942e+03],
        [ 5.83295386e+05],
        [ 5.23552229e+04],
        [ 2.72094356e+04],
        [ 9.54805244e+04],
        [ 7.13909426e+01],
        [ 3.88695856e+01],
        [-2.56179529e+03],
        [ 2.04187012e+01],
        [-5.19075568e+02],
        [ 6.02189072e+05],
        [-2.17900316e+05],
        [ 2.30994435e+01],
        [-3.76111311e-01]])

In [ ]:
Y_hat=H*W

In [ ]:
RSS=np.asscalar(((np.array(Y).reshape(Y.shape[0],1)-Y_hat).T)*(np.array(Y).reshape(Y.shape[0],1)-Y_hat))
"{:e}".format(RSS)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
  """Entry point for launching an IPython kernel.

'2.886811e+15'

In [ ]:
H=np.matrix(data[X.columns])
Y=np.array(Y).reshape(Y.shape[0],1)
D=H.shape[1]

Gradient Descent

Wt+1=Wt−η∇WtRSS(W) 
  ∇wtRSS(W)=−2HT(Y−Y^) 
  Y^=H×W

In [ ]:
eta_list = [1e-20,1e-18]
eta_RSS=dict()
for i in range(len(eta_list)):
  W=np.zeros((D,1)) 
  RSS_list=[]          
  g_list=[]  
  t=1
  e=0.0001
  c=False
  T = 10000
  t=0
  eta=eta_list[i]
  while not c:
    Y_hat=H*W
    RSS=np.asscalar(((Y-Y_hat).T)*(Y-Y_hat))
    RSS_list.append(RSS)
    g= -2* H.T*(Y-Y_hat)
    g_list.append(g)
    if abs(g).sum()<e:
      c=True  
    if t>=T:
      c=True
    W=W-eta*g 
    t+=1
  eta_RSS[i]=RSS_list

In [ ]:
g

matrix([[-5.63433314e+09],
        [-6.99175613e+09],
        [-1.05923524e+13],
        [ 1.26888027e+13],
        [-2.71492539e+09],
        [-3.63635490e+08],
        [-4.78964953e+09],
        [-1.54924950e+09],
        [-1.47667509e+10],
        [-8.23595559e+12],
        [-2.35639679e+12],
        [-6.93973091e+11],
        [-8.27656083e+11],
        [-3.34328312e+13],
        [-1.69261768e+10],
        [ 4.17192515e+10],
        [-6.81136972e+12],
        [ 6.26770251e+12]])

In [ ]:
fig = plt.figure(figsize=(8,12))
for i in range(len(eta_RSS)):
  ax = fig.add_subplot(len(eta_RSS),1,i+1)
  ax.plot(np.arange(len(eta_RSS[i])),eta_RSS[i])
  ax.set_title(str(eta_list[i]))

In [ ]:
eta_RSS[0][-1]

In [ ]:
"{:e}".format(eta_RSS[1][-1])

In [ ]:
format short