<a href="https://colab.research.google.com/github/ZahraMoeini/Regression/blob/main/multiple%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Y=H*W+epsilon

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
link =  "https://raw.githubusercontent.com/ZahraMoeini/Regression/main/Data/kc_house_data.csv"

In [8]:
data = pd.read_csv(link, error_bad_lines=False )
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [9]:
Y=data['price']
X=data.drop(columns=['price','id'])
H=data[X.columns]

# feature extraction

In [10]:
H

                  date  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0      20141013T000000         3       1.00  ... -122.257           1340        5650
1      20141209T000000         3       2.25  ... -122.319           1690        7639
2      20150225T000000         2       1.00  ... -122.233           2720        8062
3      20141209T000000         4       3.00  ... -122.393           1360        5000
4      20150218T000000         3       2.00  ... -122.045           1800        7503
...                ...       ...        ...  ...      ...            ...         ...
21608  20140521T000000         3       2.50  ... -122.346           1530        1509
21609  20150223T000000         4       2.50  ... -122.362           1830        7200
21610  20140623T000000         2       0.75  ... -122.299           1020        2007
21611  20150116T000000         3       2.50  ... -122.069           1410        1287
21612  20141015T000000         2       0.75  ... -122.299           1020        1357

[21613 rows x 19 columns]

# Close form
# $w=(H^T H)^{-1}H^TY$

In [11]:
HT=H.T

In [12]:
H

                  date  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0      20141013T000000         3       1.00  ... -122.257           1340        5650
1      20141209T000000         3       2.25  ... -122.319           1690        7639
2      20150225T000000         2       1.00  ... -122.233           2720        8062
3      20141209T000000         4       3.00  ... -122.393           1360        5000
4      20150218T000000         3       2.00  ... -122.045           1800        7503
...                ...       ...        ...  ...      ...            ...         ...
21608  20140521T000000         3       2.50  ... -122.346           1530        1509
21609  20150223T000000         4       2.50  ... -122.362           1830        7200
21610  20140623T000000         2       0.75  ... -122.299           1020        2007
21611  20150116T000000         3       2.50  ... -122.069           1410        1287
21612  20141015T000000         2       0.75  ... -122.299           1020        1357

[21613 rows x 19 columns]

In [14]:
t1=H*HT
t2=t1*I
t3=t2.HT
t4=t3.Y

NameError: ignored