<a href="https://colab.research.google.com/github/ZahraMoeini/Regression/blob/main/Reg_w1_homePrice_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
link =  "https://raw.githubusercontent.com/ZahraMoeini/Regression/main/Data/kc_house_data.csv"

In [3]:
data = pd.read_csv(link, error_bad_lines=False )
data.head(20)

            id             date      price  ...     long  sqft_living15  sqft_lot15
0   7129300520  20141013T000000   221900.0  ... -122.257           1340        5650
1   6414100192  20141209T000000   538000.0  ... -122.319           1690        7639
2   5631500400  20150225T000000   180000.0  ... -122.233           2720        8062
3   2487200875  20141209T000000   604000.0  ... -122.393           1360        5000
4   1954400510  20150218T000000   510000.0  ... -122.045           1800        7503
5   7237550310  20140512T000000  1225000.0  ... -122.005           4760      101930
6   1321400060  20140627T000000   257500.0  ... -122.327           2238        6819
7   2008000270  20150115T000000   291850.0  ... -122.315           1650        9711
8   2414600126  20150415T000000   229500.0  ... -122.337           1780        8113
9   3793500160  20150312T000000   323000.0  ... -122.031           2390        7570
10  1736800520  20150403T000000   662500.0  ... -122.145           2210        8925
11  9212900260  20140527T000000   468000.0  ... -122.292           1330        6000
12   114101516  20140528T000000   310000.0  ... -122.229           1780       12697
13  6054650070  20141007T000000   400000.0  ... -122.045           1370       10208
14  1175000570  20150312T000000   530000.0  ... -122.394           1360        4850
15  9297300055  20150124T000000   650000.0  ... -122.375           2140        4000
16  1875500060  20140731T000000   395000.0  ... -121.962           1890       14018
17  6865200140  20140529T000000   485000.0  ... -122.343           1610        4300
18    16000397  20141205T000000   189000.0  ... -122.210           1060        5095
19  7983200060  20150424T000000   230000.0  ... -122.306           1280        8850

[20 rows x 21 columns]